<!DOCTYPE html>
<html>
<head>
  <title>Hans Gamarra</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="icon" type="image/png" href="<%= gravatar_image_url('hans.gamarra1303@gmail.com', filetype: :png, rating: 'pg', size: 15, secure:false ) %>">
  <meta property="og:image" content="<%= gravatar_image_url('hans.gamarra1303@gmail.com', filetype: :png, rating: 'pg', size: 200, secure:false ) %>"/>
  <meta property="og:title" content="Hans Gamarra"/>
  <meta property="og:description" content="Drummer / Systems Engineer from Barranquilla, Colombia"/>
  <meta property="og:url" content="http://hansgamarra.com"/>
  <meta property="og:site_name" content="Hans Gamarra"/>
  <meta property="og:type" content="blog"/>
</head>
<body>

<%= render partial: 'utils/menu' %>
<div class="container-fluid">
  <%= yield %>
</div>

<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86198922-1', 'auto');
  ga('send', 'pageview');

</script>
<% end %>
</body>
</html>
